.PintoraPreview {
  padding: 15px;
  max-height: calc(100% - 40px);
  overflow: overlay;
}

.PintoraPreview__figure-container {
  max-height: 100%;
}

.PintoraPreview__figure-container:hover svg,
.PintoraPreview__figure-container:hover canvas {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Styles for ascii renderer output */
.PintoraPreview__figure-container pre {
  margin: 0;
  padding: 10px;
  font-family: 'Source Code Pro', 'Courier New', Consolas, Monaco, monospace;
  font-size: 14px;
  line-height: 1.2;
  background-color: #f5f5f5;
  border-radius: 4px;
  overflow: auto;
}

.PintoraPreview__error {
  font-size: 14px;

  pre {
    white-space: pre-wrap;
    color: #ef4444;
    padding: 1em;
  }
}
