.App__content {
  height: calc(100vh - var(--demo-header-height));
}

.App__left {
  min-width: 40vw;
  width: 40vw;
  height: 100%;
}

.App__right {
  max-width: calc(60vw - 85px);
  flex-grow: 1;
  margin-left: 20px;
}
