name: CI Check

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      # Make sure you put workflow kit action on top of all the steps
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Cache pnpm modules
        uses: actions/cache@v4
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-
      - uses: pnpm/action-setup@v4.0.0
        with:
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies=false]
      - name: Turbo Cache
        id: turbo-cache
        uses: actions/cache@v4
        with:
          path: node_modules/.cache/turbo
          key: turbo-${{ github.job }}-${{ github.ref_name }}-${{ github.sha }}
          restore-keys: |
            turbo-${{ github.job }}-${{ github.ref_name }}-
      - name: build, and test
        run: |
          pnpm run format:check
          pnpm run compile
          pnpm run ci:coverage
        env:
          CI: true
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success()    # run this step even if previous step failed
        with:
          name: JEST Tests            # Name of the check run which will be created
          path: reports/junit.xml    # Path to test results
          reporter: jest-junit        # Format of test results
      - uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          files: coverage/coverage-final.json
          flags: unittests # optional
          name: codecov-umbrella # optional
      # visual e2e test
      - name: Percy Test
        run: |
          cd demo
          pnpm run build
          pnpm run ci:visual
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      - name: Bundle size report
        uses: nejcm/bundle-size-reporter-action@v1.4.1
        with:
          paths: 'packages/pintora-standalone/lib/**/*'
